<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguridad en tareas de mantenimiento</title>
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"></script>
    <link rel="stylesheet" href="../assets/css/pag17.css">
</head>
<body>
    <div class="page-container">
        <div class="header">
            <img src="../assets/images/logo_color.png" alt="AngloAmerican Logo" class="logo">
        </div>

        <div class="content">
            <div class="title">
                <img src="../assets/images/titulo_pag17.png" alt="Seguridad en tareas de mantenimiento" class="title-image">
            </div>

            <h2 class="subtitle">Equipo de Protección Personal</h2>

            <div class="equipment-layout">
                <!-- Lado izquierdo -->
                <div class="left-items">
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/Casco.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Casco con visera y<br>barbuquejo.</p>
                        </div>
                    </div>
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/Polo.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Chaleco/ropa con cinta reflectiva.</p>
                        </div>
                    </div>
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/bloq.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Bloqueador solar.</p>
                        </div>
                    </div>
                </div>

                <!-- Imagen central -->
                <div class="center-image">
                    <img src="../assets/images/person.png" alt="Trabajador con EPP">
                </div>

                <!-- Lado derecho -->
                <div class="right-items">
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/Glass.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Lentes de seguridad.</p>
                        </div>
                    </div>
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/Audi.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Protección auditiva.</p>
                        </div>
                    </div>
                    <div class="equipment-card">
                        <div class="model-container">
                            <model-viewer 
                                camera-controls 
                                touch-action="pan-y" 
                                touch-action="pan-x" 
                                interaction-policy="allow-when-focused" 
                                shadow-intensity="1" 
                                environment-image="neutral" 
                                exposure="1" 
                                shadow-softness="1" 
                                camera-orbit="0deg 75deg 105%" 
                                src="../assets/models/EPP/ZapatoSeguridad.glb" 
                                alt="3D model" 
                                loading="eager" 
                                interaction-prompt="none"
                                class="model-viewer">
                                <div class="progress-bar hide" slot="progress-bar">
                                    <div class="update-bar"></div>
                                </div>
                            </model-viewer>
                        </div>
                        <div class="text-container">
                            <p>Zapatos de seguridad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/pag17.js"></script>
    <script src="../assets/js/audioPlayer.js"></script>
</body>
</html> 