<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seguridad en Mantenimiento</title>
    <link rel="stylesheet" href="/assets/css/seguridad.css">
</head>
<body>
    <div class="container">
        <h1>Seguridad en tareas de mantenimiento</h1>
        
        <div class="intro-text">
            <h2>1.3. Reglas de oro que protegen la vida</h2>
            <p>Las reglas de oro, están diseñadas para ayudarnos a logra nuestras metas de cero daños y mantenernos libres de fatalidades. Estas reglas fueron diseñadas para luego de analizar los incidentes fatales ocurridos en nuestra compañía donde mas del 80 por ciento ocurre en áreas</p>
        </div>

        <div class="cards-container">
            <div class="cards-grid">
                <!-- Card 1 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>1. ASPECTOS BÁSICOS</h3>
                            <img src="/assets/images/example.png" alt="Aspectos Básicos">
                        </div>
                        <div class="flip-card-back">
                            <p>Solo realiza la tarea si estás entrenado y autorizado para hacerla. Asegúrate de evaluar los riesgos pertinentes y de protegerte contra ellos. Usa siempre EPP y consigue un permiso cuando sea necesario. Si no existen controles o éstos no funcionan adecuadamente, detén la tarea y solo continúa cuando los controles operen de manera apropiada.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 2 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>2. OPERACIÓN DE MINAS</h3>
                            <img src="/assets/images/example.png" alt="Operación de Minas">
                        </div>
                        <div class="flip-card-back">
                            <p>Nunca ingreses en áreas restringidas a menos que tengas permiso. Solo cruza las cintas transportadoras en los puntos de cruce. Cuando estés en áreas subterráneas no ingreses a zonas no fortificadas; coloca siempre barras de sujeción según tu entrenamiento y no entres en los senderos de los cabrestantes que no estén aislados.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 3 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>3. EQUIPOS MÓVILES</h3>
                            <img src="/assets/images/example.png" alt="Equipos Móviles">
                        </div>
                        <div class="flip-card-back">
                            <p>Siempre sigue las reglas de tránsito, usa el cinturón de seguridad, respeta los límites de velocidad y no hagas llamadas telefónicas mientras conduces. Los peatones siempre deben mantenerse alejados de los equipos móviles y vehículos.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 4 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>4. ESPACIOS CONFINADOS</h3>
                            <img src="/assets/images/example.png" alt="Espacios Confinados">
                        </div>
                        <div class="flip-card-back">
                            <p>Nunca ingreses a un espacio confinado sin comprender y seguir el procedimiento para espacios confinados de tu operación.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 5 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>5. TRABAJOS EN ALTURA</h3>
                            <img src="/assets/images/example.png" alt="Trabajos en Altura">
                        </div>
                        <div class="flip-card-back">
                            <p>Siempre usa equipos de protección contra caídas al trabajar en altura.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 6 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>6. BLOQUEO DE EQUIPOS</h3>
                            <img src="/assets/images/example.png" alt="Bloqueo de Equipos">
                        </div>
                        <div class="flip-card-back">
                            <p>Todas las fuentes de energía deben haber sido aisladas de forma segura y la energía liberada antes de trabajar en un equipo. Libera Energía, Bloquea, Señaliza y Prueba.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 7 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>7. LEVANTE MECÁNICO</h3>
                            <img src="/assets/images/example.png" alt="Levante Mecánico">
                        </div>
                        <div class="flip-card-back">
                            <p>Asegúrate de que el dispositivo de levante es capaz de levantar la carga. Nunca permitas que alguien esté bajo la zona de caída de la carga.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 8 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>8. EMBALSE DE AGUA</h3>
                            <img src="/assets/images/example.png" alt="Embalse de Agua">
                        </div>
                        <div class="flip-card-back">
                            <p>Al trabajar cerca de las instalaciones de almacenamiento de agua y líquidos, siempre utiliza chaleco salvavidas y nunca trabajes solo.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 9 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>9. PRODUCTOS QUÍMICOS</h3>
                            <img src="/assets/images/example.png" alt="Productos Químicos">
                        </div>
                        <div class="flip-card-back">
                            <p>Asegúrate que sabes como manejar, almacenar o desechar cualquier producto químico o sustancia peligrosa con la cual estés trabajando.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 10 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>10. MATERIALES FUNDIDOS</h3>
                            <img src="/assets/images/example.png" alt="Materiales Fundidos">
                        </div>
                        <div class="flip-card-back">
                            <p>Sólo personas autorizadas pueden entrar a áreas en las que se manipula material fundido (es decir, metal caliente, escorias metálicas o gases relacionados).</p>
                        </div>
                    </div>
                </div>

                <!-- Card 11 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>11. DERRUMBES</h3>
                            <img src="/assets/images/example.png" alt="Derrumbes">
                        </div>
                        <div class="flip-card-back">
                            <p>Nunca entre a un área en la que haya terreno no sostenido.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 12 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>12. MATERIALES PELIGROSOS</h3>
                            <img src="/assets/images/example.png" alt="Materiales Peligrosos">
                        </div>
                        <div class="flip-card-back">
                            <p>Siempre consulte las hojas de datos de seguridad antes de trabajar con materiales peligrosos.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 13 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>13. PROTECCIÓN</h3>
                            <img src="/assets/images/example.png" alt="Protección">
                        </div>
                        <div class="flip-card-back">
                            <p>Todos los puntos de pellizco, así como todas las piezas móviles o giratorias de maquinaria, deben contar con protección.</p>
                        </div>
                    </div>
                </div>

                <!-- Card 14 -->
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <h3>14. INTEGRIDAD ESTRUCTURAL</h3>
                            <img src="/assets/images/example.png" alt="Integridad Estructural">
                        </div>
                        <div class="flip-card-back">
                            <p>Utilice sólo los pasillos industriales designados y trabaje sólo cerca de estructuras que hayan sido declaradas oficialmente seguras. Comuníque de inmediato.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/seguridad.js"></script>
    <script src="../js/audio-handler.js"></script>
</body>
</html> 